.side-nav {
    padding: 10px;
    width: 190px;
    background-color: rgba(0,0,0,0.6);
    height: calc(100vh - 58px);
    position: fixed;
    margin: 0;
    left: 0;
    transition:left 0.1s linear;

    &.closed {
        left: -20%;
    }
}

.side-nav-item {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0;
    width: 100%;
    height: auto;
    min-height: 40px;

    span {
        align-items: center;
        display: flex;
        flex-grow: 1;
        flex-shrink: 1;
        min-width: 24px;
        width: 75%;

        div {
            align-items: center;
            display: flex;
            flex-shrink: 0;
            height: 100%;
            width: 100%;
            justify-content: inherit;

            i {
                font-size: 18px;
            }
        }

        &:last-child {
            flex-grow: 1;
            justify-content: end;
        }
    }

    &:hover {
        color: var(--dark-text-accent);
    }
}